html {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff
}

ul {
  display: flex;
  margin: 0;
  padding: 2em;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
  margin-right: 1.5em;
  font-size: 1.2em;
}

ul li a {
  text-decoration: none;
  color: #fff
}

ol {
  display: flex;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 4em;
}

.child {
  justify-content: space-evenly;
  padding: 0 4em;
}

.navbar-branding {
  height: 2.5em;
  justify-content: flex-start;
}
.welcome {
  font-size: 3rem;
}

.blurb {
  width: 40%;
  color:#ccc;
  word-spacing: .3em;
}

.pink {
  color: #FF0266
}

.yellow {
  color: #ffde03
}

.blue {
  color: #0336FF
}

.post {
  width: 70%;
  justify-content: center;
  text-align: justify;
}